body {

}


    


/* --------------------------------- */
/* nav */
nav {
    height: 200px;
    background-color: #255ee9;
    font-size:x-large;
}

.nav-items a {
    color: white;
}

div.logo,div.sign-in {

}

div.cont-nav{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    gap: 20px;
/* probabilmente dopo varrà per tutto il progetto */
    max-width: 80%; 
    height: 100%;   
    margin-left: auto;
    margin-right: auto;
/* probabilmente dopo varrà per tutto il progetto */
}

div.links {
    width: 60%;
}

ul.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
    list-style-type: none;
}


/* /nav */
/* --------------------------------- */



/* --------------------------------- */
/* header */

header {
    width: 100%;
    height: 700px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

div.cont-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;

    padding-top: 50px;

    text-align: center;
    font-size: x-large;

/* probabilmente dopo varrà per tutto il progetto */
    max-width: 80%;
    height: 100%;   
    margin-left: auto;
    margin-right: auto;
/* probabilmente dopo varrà per tutto il progetto */
}

ul.link-header {
    width: 550px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



    list-style-type: none;

    font-size: 25px;
}

div.cont-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;

    height: 40%;
}

div.cont-header {
    color: white;
    max-width: 60%;
}
/* header */
/* --------------------------------- */



/* ------------------------------------------------ */
/* main  */

/* --------------------------------- */
/* main regular-section  */

main {
    width: 100%;

    
  
                        /* debug */
                        background-color: white;
                        /* /debug */
}


div.boxsection-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;


/* probabilmente dopo varrà per tutto il progetto */
    max-width: 100%;
    height: 1000px;   
    padding-left: auto;
    padding-right: auto;
/* probabilmente dopo varrà per tutto il progetto */

    background-color: white;  
}

div.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 100%;  
}

div.img-descript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    width: 100%;

}

div.img-descript div {
    height: 100%;
    width: 50%;
}

div.img img {
    height: 800px;
    width: 800px;
}

div.img-descript1 {
    display: flex;
    align-items: flex-end;

    padding-bottom: 70px;
    height: 70%;
    font-size: 40px;
}

div.img-descript2 {
    height: 30%;
    margin-top: 1px;
    font-size: 30px;
}

/* /main regular-section  */
/* --------------------------------- */



/* --------------------------------- */
/* main section-reverse */

div.reverse {
    flex-direction: row-reverse;
}

div.bckgr-color {
    background-color: #e8e8e8;
}

div#reverse {
    justify-content: start;
}

div#reverse-descript {
    align-items: flex-end;    
}
/* /section-reverse */
/* --------------------------------- */


/* --------------------------------- */
/* final-section */

div.final-section {
    background-color: #e8e8e8;

    height: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
div.img-final-section {
    padding: 20px;
}

span.final-descript1 {
    text-align: center;
    font-size: 60px;
}

p.img-descript2 {
    text-align: center;
    font-size: 25px;
}



/* final section */
/* --------------------------------- */

/* /main */
/* ------------------------------------------------ */




/* --------------------------------- */
/* footer */

footer {
    background-color: #23272a;
}

footer .cont-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    max-width: 80%;
    padding-top: 2em;

    margin-left: auto;
    margin-right: auto;
    
    height: 600px;
}

div.footer-sinistro {
    display: flex;
    flex-direction: column;
    max-width: 20%;
}


div.footer-destro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 60%;
}

footer li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 25px;
}

footer strong {
    font-size: 25px;
    color: #7288da;
}

div.cont-pie-di-pagina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    height: 100px;
}

div.footer-s1 {
     color: #7288da;
     font-size: 50px;

}
/* /footer */
/* --------------------------------- */


/* --------------------------------- */
/* solo grafica */
a.sign-in-button, a.down-mac {
    background-color: white;
    color: black;

    border-radius: 25px;
    padding: 10px;
}

a.link-web {
    background-color: #23272a;
    color: white;

    border-radius: 25px;
    padding: 10px;
}

.footer-button a {
    background-color: #7288da;
    color: white;

    border-radius: 25px;
    padding: 10px;
}

a.down-mac-section {
    background-color: #7288da;
    color: white;

    border-radius: 25px;
    padding: 10px;
    font-size: 35px;
}

img.screenshot {
    width: 350px;
    height: 100px;
}

span.domanda {
    font-size: 50px;
}

img.reverse {
    transform: rotate(180deg);
}

/* /solo grafica */
/* --------------------------------- */